    <!-- Header START -->
    <header class="header">
      <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">首頁</a></li>
              <li><a href="#">劇評總覽</a></li>
              <li><a href="#">與我聯絡</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">登入</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="title-wrapper">
        <div class="container">

          <img [title]="title" [src]="imgUrl" [attr.data-title]="title" class="pull-left logo" alt="ABow 的追劇生活">

          <div class="pull-left">
            <h1><a [href]="url">{{ title }}</a></h1>
            <h3>記載著 ABow 追劇的點點滴滴</h3>
          </div>

          <div id="social-icons" class="pull-right social-icon">
            <a href="#" title="ABow 的追劇生活粉絲專頁" target="_blank">
              <img src="/assets/images/facebook.png">
            </a>
            <a href="#" title="@ABow 的追劇生活推特" target="_blank">
              <img src="/assets/images/twitter.png">
            </a>
            <a href="#" title="★★★ ABow 的噗浪 ★★★" target="_blank">
              <img src="/assets/images/plurk.png">
            </a>
            <a href="#" title="RSS 訂閱" target="_blank">
              <img src="/assets/images/rss.png">
            </a>
          </div>

        </div>
      </div>
    </header>
    <!-- Header END -->

    <!-- CONTAINER START-->
    <section class="container">
      <div class="row">
        <section class="col-md-8 content-wrapper">
          <div id="ctl00_cphBody_divError"></div>
          <div id="ctl00_cphBody_PostList1_posts" class="posts">

            <!-- Article START-->
            <article class="post" id="post0">
              <header class="post-header">
                <h2 class="post-title">
                    <a href="#">秘密內幕-女警的反擊-</a>
                </h2>
                <div class="post-info clearfix">
                  <span class="post-date"><i class="glyphicon glyphicon-calendar"></i>2021/09/23 22:05</span>
                  <span class="post-author"><i class="glyphicon glyphicon-user"></i><a href="#">ABow_Chen</a></span>
                  <span class="post-category"><i class="glyphicon glyphicon-folder-close"></i><a href="#">日劇</a></span>
                </div>
              </header>
              <section class="post-body text">
                <p>追求公務員的穩定收入而考上警察的菜鳥川合，初來乍到便對這吃力不討好的工作感到絕望，在受訓期間就開始猶豫著是否辭職。前菁英刑警藤，因不明原因被調到川合所屬的派出所，而兩人的相遇也讓彼此的警察人生產生變化！為事件、雜務、戀愛奔走，常伴在你身邊卻意外陌生的派出所日常真實展開！</p>
                <p>... <a class="more" href="#">繼續閱讀</a>...</p>
              </section>
            </article>

            <article class="post" id="post1">
              <header class="post-header">
                <h2 class="post-title">
                    <a href="#">校對女王</a>
                </h2>
                <div class="post-info clearfix">
                  <span class="post-date"><i class="glyphicon glyphicon-calendar"></i>2021/09/18 19:28</span>
                  <span class="post-author"><i class="glyphicon glyphicon-user"></i></span>
                  <span class="post-category"><i class="glyphicon glyphicon-folder-close"></i><a href="#">日劇</a></span>
                </div>
              </header>
              <section class="post-body text">
                  <p>找不到工作的意義？質樸卻很厲害的百變女孩石原聰美，給你面對工作與夢想時需要的滿滿正面能量！</p>
                  <p>熱愛時尚的河野悅子一直夢想成為流行雜誌編輯，好不容易進入出版社，卻被分派到土氣無趣的校對部，專門負責找出原稿中的錯誤內容。上司告訴她只要好好工作，就有機會調到喜歡的部門，於是悅子火力全開，不但天天盛裝打扮，只要發現文章內容有不合理的地方，還會親自跑去一一查證，讓同事跟作家們一個頭兩個大！</p>
                <p>... <a class="more" href="#">繼續閱讀</a>...</p>
              </section>
            </article>

            <article class="post" id="post2">
              <header class="post-header">
                <h2 class="post-title">
                    <a href="#">喜劇開場</a>
                </h2>
                <div class="post-info clearfix">
                  <span class="post-date"><i class="glyphicon glyphicon-calendar"></i>2021/09/07 23:14</span>
                  <span class="post-author"><i class="glyphicon glyphicon-user"></i><a href="#">ABow_Chen</a></span>
                  <span class="post-category"><i class="glyphicon glyphicon-folder-close"></i><a href="#">日劇</a></span>
                </div>
              </header>
              <section class="post-body text">
                <p>眼看「十年之約」即將到期，沒沒無聞的搞笑三人組「馬克白」面臨了解散與否的艱難抉擇。失戀離職後便一蹶不振、在馬克白固定光顧的家庭餐廳打工的服務生，因緣際會下成了他們的忠實粉絲。這群年近30的年輕人，在夢想與現實之中浮沉、在笑淚交織中享受最後的青春，他們的相遇會為彼此的人生成就什麼樣的短劇呢？</p>
                <p>... <a class="more" href="#">繼續閱讀</a>...</p>
              </section>
            </article>
            <!-- Article END-->

          </div>
        </section>


        <!-- Aside START -->
        <aside class="col-md-4 sidebar-wrapper">
          <div id="widgetzone_be_WIDGET_ZONE" class="widgetzone">

            <!-- Search START-->
            <div class="widget search">
              <div class="widget-content">
                  <div id="searchbox">
                    <input type="text" placeholder="請輸入搜尋關鍵字" accesskey="s">
                    <input type="button" value="搜尋" id="searchbutton">
                  </div>
              </div>
            </div>
            <!-- Search END -->

            <!-- Calendar START -->
            <div class="widget calendar">
              <h4 class="widget-header">
                  文章日曆
                  <span class="pull-right"></span>
              </h4>
              <div class="widget-content">
                <div style="text-align: center">
                  <div id="calendarContainer">
                    <table class="calendar" summary="" style="border-collapse:collapse;">
                      <tbody>
                        <tr>
                          <td><a href="#">&lt;&lt;</a>&nbsp;&nbsp;</td>
                          <td style="text-align:center;width:100px">九月 2021</td>
                          <td align="right">&nbsp;&nbsp;&gt;&gt;</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="calendar" cellspacing="0" cellpadding="2" summary="Post calendar" title="Calendar" style="border-width:0px;border-collapse:collapse;">
                      <tbody>
                        <tr>
                          <th align="center" abbr="星期一" scope="col">週一</th>
                          <th align="center" abbr="星期二" scope="col">週二</th>
                          <th align="center" abbr="星期三" scope="col">週三</th>
                          <th align="center" abbr="星期四" scope="col">週四</th>
                          <th align="center" abbr="星期五" scope="col">週五</th>
                          <th align="center" abbr="星期六" scope="col">週六</th>
                          <th align="center" abbr="星期日" scope="col">週日</th>
                        </tr>
                        <tr>
                          <td class="other" align="center" style="width:14%;">29</td>
                          <td class="other" align="center" style="width:14%;">30</td>
                          <td class="other" align="center" style="width:14%;">31</td>
                          <td align="center" style="width:14%;">1</td>
                          <td align="center" style="width:14%;">2</td>
                          <td align="center" style="width:14%;">3</td>
                          <td class="weekend" align="center" style="width:14%;">4</td>
                        </tr>
                        <tr>
                          <td align="center" style="width:14%;">5</td>
                          <td align="center" style="width:14%;">6</td>
                          <td align="center" id="today" style="width:14%;"><a href="#" class="exist">7</a></td>
                          <td align="center" style="width:14%;">8</td>
                          <td align="center" style="width:14%;">9</td>
                          <td class="weekend" align="center" style="width:14%;">10</td>
                          <td class="weekend" align="center" style="width:14%;">11</td>
                        </tr>
                        <tr>
                          <td align="center" style="width:14%;">12</td>
                          <td align="center" style="width:14%;">13</td>
                          <td align="center" style="width:14%;">14</td>
                          <td align="center" style="width:14%;">15</td>
                          <td align="center" style="width:14%;">16</td>
                          <td class="weekend" align="center" style="width:14%;">17</td>
                          <td class="weekend" align="center" style="width:14%;"><a href="#" class="exist">18</a></td>
                        </tr>
                        <tr>
                          <td align="center" style="width:14%;">19</td>
                          <td align="center" style="width:14%;">20</td>
                          <td align="center" style="width:14%;">21</td>
                          <td align="center" style="width:14%;">22</td>
                          <td align="center" style="width:14%;"><a href="#" class="exist">23</a></td>
                          <td class="weekend" align="center" style="width:14%;">24</td>
                          <td class="weekend" align="center" style="width:14%;">25</td>
                        </tr>
                        <tr>
                          <td align="center" style="width:14%;">26</td>
                          <td align="center" style="width:14%;">27</td>
                          <td align="center" style="width:14%;">28</td>
                          <td align="center" style="width:14%;">29</td>
                          <td align="center" style="width:14%;">30</td>
                          <td class="other" align="center" style="width:14%;">1</td>
                          <td class="other" align="center" style="width:14%;">2</td>
                        </tr>
                        <tr>
                          <td class="other" align="center" style="width:14%;">3</td>
                          <td class="other" align="center" style="width:14%;">4</td>
                          <td class="other"  align="center" style="width:14%;">5</td>
                          <td class="other" align="center" style="width:14%;">6</td>
                          <td class="other" align="center" style="width:14%;">7</td>
                          <td class="other" align="center" style="width:14%;">8</td>
                          <td class="other" align="center" style="width:14%;">9</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <br>
                  <a href="#">View posts in large calendar</a>
                </div>
              </div>
            </div>
            <!-- Calendar END -->

            <!-- CategoryList START -->
            <div class="widget categorylist">
              <h4 class="widget-header">
                  文章分類
                  <span class="pull-right"></span>
              </h4>
              <div class="widget-content">
                <ul id="categorylist">
                  <li>
                    <a href="#" rel="nofollow"><img src="/assets/images/rssButton.png" alt="RSS feed for .Net" class="rssButton"></a><a href="http://blog.miniasp.com/category/Net.aspx"
                      title="分類: 日劇">日劇 (60)</a></li>
                  <li>
                    <a href="#" rel="nofollow"><img src="/assets/images/rssButton.png" alt="RSS feed for Accessibility" class="rssButton"></a><a href="http://blog.miniasp.com/category/Accessibility.aspx"
                      title="分類:美劇">美劇 (3)</a></li>
                  <li>
                    <a href="#" rel="nofollow"><img src="/assets/images/rssButton.png" alt="RSS feed for AngularJS" class="rssButton"></a><a href="http://blog.miniasp.com/category/AngularJS.aspx"
                      title="分類: 韓劇">韓劇 (7)</a></li>
                  <li>
                    <a href="#" rel="nofollow"><img src="/assets/images/rssButton.png" alt="RSS feed for ASP.NET" class="rssButton"></a><a href="http://blog.miniasp.com/category/ASPNET.aspx"
                      title="分類: 台劇">台劇 (10)</a></li>
                </ul>

              </div>
            </div>
            <!-- CategoryList END -->

            <!-- MVP START -->
            <div class="widget textbox">
              <h4 class="widget-header">
                  KKTV 金裝劇迷
                  <span class="pull-right"></span>
              </h4>
              <div class="widget-content">
                <p>
                  <a title="ABow_Chen 於 2021 年 9 月在 KKTV 平台上的日劇觀看數超過五十部，已突破人生設定的目標，故自封為 KKTV 金裝劇迷！"
                    href="#"><img src="/assets/images/KKTV.jpg" alt="ABow_Chen 於 2021 年 9 月在 KKTV 平台上的日劇觀看數超過五十部，已突破人生設定的目標，故自封為 KKTV 金裝劇迷！"
                      border="0"></a>
                </p>
              </div>
            </div>
            <!-- MVP END -->

          </div>
        </aside>
        <!-- Aside END -->
      </div>
    </section>
    <!-- CONTAINER END -->


    <!-- FOOTER START -->
    <footer class="footer">
      <div class="end-line text-center">
        <p class="text-muted credit">
			Copyright © 2021 by <a href="#" target="_blank">ABow_Chen</a>
			@ <a href="#" target="_blank">ABow 的追劇生活</a>
		</p>
      </div>
    </footer>
    <!-- Footer END -->
